{% trans_default_domain 'admin' %}

<div class="container">
    {{ form_start(form) }}

    <div class="row">
        <div class="col">
            {{ form_errors(form) }}
        </div>     
    </div>
    
    <div class="row">
        <div class="col-1">
            {{ form_row(form._order) }}
        </div>
        <div class="col-md-5 col-xs-11">
            {{ form_row(form.title) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            {{ form_row(form.image) }}
        </div>
        <div class="col-6">
            {% if skill is defined and skill.image is not null %}
                <div class="row d-flex justify-content-center">
                    <img src="{{ asset(ressource_path.skill.image) }}" alt="" height=150>
                </div>
                <div class="row d-flex justify-content-center my-1">
                    <a href="{{ path('admin_skill_image_delete', {'id': skill.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt white"></i> Supprimer</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="submit" class="btn btn-success" value="Enregistrer">
        </div>
    </div>
        
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>