{% extends 'base_bo.html.twig' %}

{% block title %}Index | Les compétences{% endblock %}

{% block body %}

<h1>Liste des compétences</h1>

<div class="row">
    <a href="{{ path('admin_skill_add') }}" class="btn btn-primary">Ajouter une compétence</a>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>En ligne</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% if skills is not null and skills|length > 0 %}
                {% for skill in skills %}
                <tr>
                    <td><a href="{{ path('admin_skill_edit', {'id': skill.id}) }}">{{ skill.title }}</a></td>
                    <td>{{ true }}</td>
                    <td><a class="delete" href="{{ path('admin_skill_delete', {'id': skill.id}) }}" title="Supprimer" data-delete="true" data-confirm="Are you sure?" rel="nofollow"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">Aucune compétence</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
