{% trans_default_domain 'admin' %}

<div class="container">
    {{ form_start(form) }}

    <div class="row">
        <div class="col">
            {{ form_errors(form) }}
        </div>     
    </div>
    
    <div class="row">
        <div class="col-1">
            {{ form_row(form._order) }}
        </div>
        <div class="col-md-5 col-xs-11">
            {{ form_row(form.title) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-5">
            <div class="row">
                {{ form_row(form.image) }}
            </div>    
            <div class="row">
                {% if watchArticle is defined and watchArticle.image is not null %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image actuelle</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="{{ asset(ressource_path.watchArticle.image) }}" alt="" height=150>
                                </td>
                                <td>
                                    <a href="{{ path('admin_watch_article_image_delete', {'id': watchArticle.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    
        <input type="submit" class="btn btn-success" value="Enregistrer">
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>