{% extends 'base_bo.html.twig' %}

{% block title %}Index | Les articles de blog{% endblock %}

{% block body %}

<h1>Liste des articles de blog</h1>

<div class="row">
    <a href="{{ path('admin_blog_article_add') }}" class="btn btn-primary">Ajouter un article</a>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>En ligne</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% if articles is not null and articles|length > 0 %}
                {% for article in articles %}
                <tr>
                    <td><a href="{{ path('admin_blog_article_edit', {'id': article.id}) }}">{{ article.headline }}</a></td>
                    <td>{{ true }}</td>
                    <td><a class="delete" href="{{ path('admin_blog_article_delete', {'id': article.id}) }}" title="Supprimer" data-delete="true" data-confirm="Are you sure?" rel="nofollow"><i class="fas fa-trash-alt"></i></a></td>
                    {# <td><a class="delete" href="#" title="Supprimer" data-delete="true" data-confirm="Are you sure?" rel="nofollow"><i class="fas fa-trash-alt"></i></a></td> #}
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">Aucun article</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
