{% extends 'base_fo.html.twig' %}

{% block title %}Liste des compétences - Mes compétences{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Liste des compétences</h1>
        </div>
    </div>

    <div class="d-flex flex-row flex-md-column">
        {% for skill in skills %}
            {% if skill.image is not null %}
                <div class="skill d-flex flex-column align-items-center p-5" id="skill-{{ skill.id }}">
                    <img src="{{ asset('uploads/library/skill/' ~ skill.image) }}" alt="" height=96>
                    {{ skill.title }}
                </div>
            {% else %}
                <div class="skill d-flex flex-column align-items-center p-5" id="skill-{{ skill.id }}">
                    <img src="{{ asset('assets/img/noimage.png') }}" alt="" height=96>
                    {{ skill.title }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
