<nav class="navbar navbar-expand-sm mb-5">
    <a class="navbar-brand" href="#">Portfolio</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="mx-1 nav-item active">
                <a class="nav-link" href="{{ path('home') }}"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="mx-1 nav-item">
                <a class="nav-link" href="{{ path('skill_index') }}"><i class="fa fa-skill"></i> Mes compétences</a>
            </li>
            <li class="mx-1 nav-item">
                <a class="nav-link" href="{{ path('blog_article_index') }}">Mes articles</a>
            </li>
            <li class="mx-1 nav-item">
                <a class="nav-link" href="{{ path('watch_article_index') }}">Ma veille</a>
            </li>
            <li class="mx-1 nav-item">
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-user"></i> Se connecter</a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('admin_index') }}"><i class="fas fa-user-astronaut"></i> Administration</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
